/******************
GENERAL STYLING
******************/

body {
  padding: 0px;
  overflow-x: hidden;
  background-color: #F0F0F0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

hr {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-color: #333;
  border-width: 1px;
  opacity: 0.9;
}

h2 {
  font-family: 'Playfair Display', serif;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
}

select, option {
  font-family: 'Raleway', sans-serif;
}

/******************
HEADER STYLING
******************/

#banner {
  height: 300px;
  text-align: center;
  width: 100%;
  background-image: url("../images/chalkboard.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 4.5em;
  padding: 0px;
  margin: 0px;
  padding-top: 80px;
  line-height: 0.8em;
  color: #F3F3F3;
}

#subheader {
  font-family: 'Playfair Display', serif;
  font-size: 2.25em;
  padding: 0px;
  margin: 0px;
  color: #F3F3F3;
}

#subsubheader {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  padding-top: 70px;
  color: #F3F3F3;
}

/******************
CONTENT STYLING
******************/

#content {
  width: 100%;
  padding-top: 20px;
  font-size: 1.0em;
}

#row1 {
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.below-rows {
  width: auto;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 2em;
  flex-wrap: wrap;
}

#pubs, #about, #contact {
  display: flex;
  flex-direction: column;
}

#about {
  width: 40%;
}

#contact {
  width: 25%;
}

#pubs {
  width: 30%;
  font-size: 0.9em;
}

/******************
ABOUT STYLING
******************/

#bio {
  padding-left: 20px;
  width: 80%;
  height: 266px;
  text-align: left;
  font-size: 0.9em;
}

#bioBlock {
  display: flex;
  flex-direction: row;
}

#photo {
  height: auto;
  background-color: lightblue;
  max-width:100%;
  max-height:100%;
}

/******************
PUBLICATIONS STYLING
******************/

.pdficon {
  width: 22px;
  height: 22px;
  transition: 0.25s;
}

.pdficon:hover {
  transition: 0.25s;
  transform: scale(1.15);
}

/******************
CALENDAR STYLING
******************/

#calendar {
  border-width: 0;
  width: 100%;
  height: 600px;
  frameborder: 0;
  scrolling: no;
}

/******************
FOOTER STYLING
******************/

#footer {
  font-family: 'Playfair Display', serif;
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: 5vw;
}

/******************
COURSES STYLING
******************/

.announcementText {
  color: #F14242;
}

#courseInfoTitleFall {
  margin-top: 1em;
}

.collapsible {
  background-color: #404040;
  font-family: 'Playfair Display', serif;
  color: #F3F3F3;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  z-index: 1;
}

.active, .collapsible:hover {
  background-color: #383838;
}

.courseContent {
  position: relative;
  padding: 0px 0px;
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #E0E0E0;
}

.courseContent p {
  padding: 18px;
}

.noteParagraph {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    transition: all 0.25s ease;
    padding: 10px;
    color: white;
    font-size: 0.8em;
    border-radius: 1px;
    box-shadow: 3px 3px 2px silver;
}

[tooltip]:hover:before {
    opacity: 1;
    background: #333;
    margin-top: -45px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/******************
GLOBAL STYLING
******************/

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/******************
MOBILE STYLING
******************/

@media only screen and (max-width: 1020px) {

  h2 {
    font-family: 'Playfair Display', serif;
    padding: 0px;
    margin: 0px;
    padding-top: 1em;
  }

  #header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.2em;
    padding: 0px;
    margin: 0px;
    padding-top: 60px;
    line-height: 0.8em;
    color: #F3F3F3;
  }

  #subheader {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    color: #F3F3F3;
  }

  #subsubheader {
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    color: #F3F3F3;
  }

  #banner {
    height: 200px;
    text-align: center;
    width: 100%;
    background-image: url("../images/chalkboard.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #photo {
    width: 200px;
    background-color: lightblue;
    max-width:100%;
    max-height:100%;
  }

  #bioBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #bio {
    padding-left: 0px;
    padding-top: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 0.9em;
  }

  #footer {
    font-size: 0.8em;
    height: 2rem;
  }

  #row1 {
    flex-direction: column;
  }

  #row2 {
    flex-direction: column;
    margin-top: 1em;
  }

  #row2 h2 {
    padding-top: 0px;
  }

  #row3 h2 {
    padding-top: 0px;
  }

  #pubs, #about, #contact {
    width: 100%;
  }
}
